.header_container{
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

.logo img{
 width: 9rem;
}
.nav_container{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-right: 1.25rem;
 margin-top: 1rem;
}

.nav_container ul{
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
 font-weight: bold;
}

.nav_container ul li {
  border-bottom: 5px solid transparent;
  padding-bottom: 0.5rem;
  transition: 0.2s ease-in-out;
}


.nav_container ul li:hover{
  border-bottom:  5px solid blueviolet;
}

.nav_container ul li a {
  font-size: 1.5rem;
}
.git_icon{
  fill: rgb(23, 15, 31);
  
 }
 
 .lkd_icon{
  fill: rgb(9, 66, 115);
 }
 
 .mail_icon{
  fill: rgb(176, 55, 55);
 }

@media screen and (min-width: 480px) {
 .logo img{
   width: 12rem;
 }
 .nav_container ul li a{
  font-size: 2rem;
 }
}
@media screen and (min-width:801px){
  .logo img{
    width: 14rem;
  }
  .nav_container ul li a{
    font-size: 3rem;
  }
  .nav_container ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
@media screen and (min-width:1551px) {
  
}